In [2]:

import pandas as pd

source = pd.read_csv("Mid-year estimates 2012 to 2017 for the UK - backseries from SAS.csv")

source[:4]

,LAD_code,age,Sex,mid_2017,mid_2016,mid_2015,mid_2014,mid_2013,mid_2012
0,E06000001,0,0,1016,1087,1014,1065,1085,1152
1,E06000001,1,0,1096,1034,1068,1074,1158,1174
2,E06000001,2,0,1060,1085,1092,1154,1195,1161
3,E06000001,3,0,1108,1110,1149,1206,1170,1143

In [18]:
# Get geography lookup
import requests

url = "https://api.beta.ons.gov.uk/v1/code-lists/mid-year-pop-geography/editions/one-off/codes"

r = requests.get(url)
if r.status_code != 200:
    raise ValueError("Oops")

giantGeoDict = r.json()

geoLookup = {}
for item in giantGeoDict["items"]:
    geoLookup.update({item["id"]:item["label"]})

geoLookup

{'E13000002': 'Outer London',
 'E13000001': 'Inner London',
 'N09000010': 'Newry, Mourne and Down',
 'N09000004': 'Causeway Coast and Glens',
 'N09000011': 'Ards and North Down',
 'N09000008': 'Mid and East Antrim',
 'N09000006': 'Fermanagh and Omagh',
 'N09000009': 'Mid Ulster',
 'N09000007': 'Lisburn and Castlereagh',
 'N09000005': 'Derry City and Strabane',
 'N09000002': 'Armagh City, Banbridge and Craigavon',
 'S12000039': 'West Dunbartonshire',
 'N09000003': 'Belfast',
 'N92000002': 'Northern Ireland',
 'S12000026': 'Scottish Borders',
 'N09000001': 'Antrim and Newtownabbey',
 'S12000040': 'West Lothian',
 'S12000030': 'Stirling',
 'S12000029': 'South Lanarkshire',
 'S12000027': 'Shetland Islands',
 'S12000028': 'South Ayrshire',
 'S12000038': 'Renfrewshire',
 'S12000021': 'North Ayrshire',
 'S12000024': 'Perth and Kinross',
 'S12000023': 'Orkney Islands',
 'S12000018': 'Inverclyde',
 'S12000013': 'Eilean Siar',
 'S12000020': 'Moray',
 'S12000014': 'Falkirk',
 'S12000011': 'East Renfrewshire',
 'S12000044': 'North Lanarkshire',
 'S12000019': 'Midlothian',
 'S12000015': 'Fife',
 'S12000046': 'Glasgow City',
 'S12000017': 'Highland',
 'S12000008': 'East Ayrshire',
 'S12000036': 'City of Edinburgh',
 'S12000045': 'East Dunbartonshire',
 'W06000005': 'Flintshire',
 'S12000006': 'Dumfries and Galloway',
 'S12000010': 'East Lothian',
 'S12000042': 'Dundee City',
 'W06000002': 'Gwynedd',
 'W06000004': 'Denbighshire',
 'W06000001': 'Isle of Anglesey',
 'S12000035': 'Argyll and Bute',
 'W06000003': 'Conwy',
 'S12000005': 'Clackmannanshire',
 'W06000023': 'Powys',
 'W06000010': 'Carmarthenshire',
 'W06000020': 'Torfaen',
 'W06000009': 'Pembrokeshire',
 'W92000004': 'Wales',
 'W06000021': 'Monmouthshire',
 'W06000022': 'Newport',
 'S12000034': 'Aberdeenshire',
 'E07000191': 'West Somerset',
 'W06000019': 'Blaenau Gwent',
 'S92000003': 'Scotland',
 'S12000041': 'Angus',
 'W06000014': 'The Vale of Glamorgan',
 'W06000018': 'Caerphilly',
 'W06000012': 'Neath Port Talbot',
 'W06000013': 'Bridgend',
 'W06000008': 'Ceredigion',
 'S12000033': 'Aberdeen City',
 'E07000079': 'Cotswold',
 'W06000016': 'Rhondda Cynon Taf',
 'E10000013': 'Gloucestershire',
 'W06000024': 'Merthyr Tydfil',
 'E07000188': 'Sedgemoor',
 'W06000011': 'Swansea',
 'W06000015': 'Cardiff',
 'E07000080': 'Forest of Dean',
 'E07000190': 'Taunton Deane',
 'E07000078': 'Cheltenham',
 'E07000053': 'Weymouth and Portland',
 'E07000081': 'Gloucester',
 'E07000083': 'Tewkesbury',
 'E07000187': 'Mendip',
 'W06000006': 'Wrexham',
 'E07000051': 'Purbeck',
 'E10000027': 'Somerset',
 'E06000024': 'North Somerset',
 'E07000082': 'Stroud',
 'E07000041': 'Exeter',
 'E07000189': 'South Somerset',
 'E06000025': 'South Gloucestershire',
 'E07000050': 'North Dorset',
 'E06000053': 'Isles of Scilly',
 'E07000040': 'East Devon',
 'E10000009': 'Dorset',
 'E07000048': 'Christchurch',
 'E06000026': 'Plymouth',
 'E06000052': 'Cornwall',
 'E06000029': 'Poole',
 'E07000049': 'East Dorset',
 'E10000008': 'Devon',
 'E06000054': 'Wiltshire',
 'E07000046': 'Torridge',
 'E07000052': 'West Dorset',
 'E12000009': 'South West',
 'E06000023': 'Bristol, City of',
 'E06000027': 'Torbay',
 'E07000042': 'Mid Devon',
 'E07000044': 'South Hams',
 'E07000043': 'North Devon',
 'E07000047': 'West Devon',
 'E06000028': 'Bournemouth',
 'E07000045': 'Teignbridge',
 'E06000030': 'Swindon',
 'E07000215': 'Tandridge',
 'E07000229': 'Worthing',
 'E07000228': 'Mid Sussex',
 'E07000223': 'Adur',
 'E07000227': 'Horsham',
 'E07000224': 'Arun',
 'E07000214': 'Surrey Heath',
 'E07000225': 'Chichester',
 'E07000226': 'Crawley',
 'E07000217': 'Woking',
 'E07000216': 'Waverley',
 'E10000025': 'Oxfordshire',
 'E06000022': 'Bath and North East Somerset',
 'E10000032': 'West Sussex',
 'E07000114': 'Thanet',
 'E07000113': 'Swale',
 'E07000116': 'Tunbridge Wells',
 'E07000213': 'Spelthorne',
 'E07000210': 'Mole Valley',
 'E07000211': 'Reigate and Banstead',
 'E07000115': 'Tonbridge and Malling',
 'E07000208': 'Epsom and Ewell',
 'E07000112': 'Shepway',
 'E10000030': 'Surrey',
 'E07000111': 'Sevenoaks',
 'E07000178': 'Oxford',
 'E07000209': 'Guildford',
 'E07000179': 'South Oxfordshire',
 'E07000181': 'West Oxfordshire',
 'E07000212': 'Runnymede',
 'E07000110': 'Maidstone',
 'E07000207': 'Elmbridge',
 'E07000180': 'Vale of White Horse',
 'E07000177': 'Cherwell',
 'E07000105': 'Ashford',
 'E10000016': 'Kent',
 'E07000108': 'Dover',
 'E07000064': 'Rother',
 'E07000093': 'Test Valley',
 'E07000107': 'Dartford',
 'E07000091': 'New Forest',
 'E07000109': 'Gravesham',
 'E07000092': 'Rushmoor',
 'E07000106': 'Canterbury',
 'E07000084': 'Basingstoke and Deane',
 'E07000090': 'Havant',
 'E07000094': 'Winchester',
 'E07000088': 'Gosport',
 'E07000087': 'Fareham',
 'E07000086': 'Eastleigh',
 'E07000004': 'Aylesbury Vale',
 'E07000063': 'Lewes',
 'E06000037': 'West Berkshire',
 'E07000006': 'South Bucks',
 'E10000014': 'Hampshire',
 'E07000062': 'Hastings',
 'E07000005': 'Chiltern',
 'E07000089': 'Hart',
 'E10000002': 'Buckinghamshire',
 'E06000045': 'Southampton',
 'E07000085': 'East Hampshire',
 'E06000038': 'Reading',
 'E10000011': 'East Sussex',
 'E07000061': 'Eastbourne',
 'E06000040': 'Windsor and Maidenhead',
 'E06000041': 'Wokingham',
 'E07000065': 'Wealden',
 'E06000039': 'Slough',
 'E07000007': 'Wycombe',
 'E06000042': 'Milton Keynes',
 'E06000043': 'Brighton and Hove',
 'E06000046': 'Isle of Wight',
 'E06000035': 'Medway',
 'E09000031': 'Waltham Forest',
 'E06000044': 'Portsmouth',
 'E12000008': 'South East',
 'E06000036': 'Bracknell Forest',
 'E09000029': 'Sutton',
 'E09000016': 'Havering',
 'E09000027': 'Richmond upon Thames',
 'E09000024': 'Merton',
 'E09000026': 'Redbridge',
 'E09000032': 'Wandsworth',
 'E09000021': 'Kingston upon Thames',
 'E09000017': 'Hillingdon',
 'E09000018': 'Hounslow',
 'E09000011': 'Greenwich',
 'E09000015': 'Harrow',
 'E09000010': 'Enfield',
 'E09000025': 'Newham',
 'E09000030': 'Tower Hamlets',
 'E09000023': 'Lewisham',
 'E09000028': 'Southwark',
 'E09000022': 'Lambeth',
 'E09000002': 'Barking and Dagenham',
 'E09000003': 'Barnet',
 'E09000004': 'Bexley',
 'E09000006': 'Bromley',
 'E09000001': 'City of London',
 'E09000009': 'Ealing',
 'E09000005': 'Brent',
 'E09000008': 'Croydon',
 'E09000014': 'Haringey',
 'E09000033': 'Westminster',
 'E09000019': 'Islington',
 'E09000012': 'Hackney',
 'E09000013': 'Hammersmith and Fulham',
 'E07000205': 'Suffolk Coastal',
 'E09000020': 'Kensington and Chelsea',
 'E07000201': 'Forest Heath',
 'E07000204': 'St Edmundsbury',
 'E07000206': 'Waveney',
 'E09000007': 'Camden',
 'E12000007': 'London',
 'E07000203': 'Mid Suffolk',
 'E07000202': 'Ipswich',
 'E10000020': 'Norfolk',
 'E07000148': 'Norwich',
 'E07000200': 'Babergh',
 'E07000149': 'South Norfolk',
 'E07000095': 'Broxbourne',
 'E10000029': 'Suffolk',
 'E07000077': 'Uttlesford',
 'E07000146': "King's Lynn and West Norfolk",
 'E07000243': 'Stevenage',
 'E07000144': 'Broadland',
 'E07000145': 'Great Yarmouth',
 'E10000015': 'Hertfordshire',
 'E07000147': 'North Norfolk',
 'E07000240': 'St Albans',
 'E07000103': 'Watford',
 'E07000241': 'Welwyn Hatfield',
 'E07000102': 'Three Rivers',
 'E07000143': 'Breckland',
 'E07000067': 'Braintree',
 'E07000076': 'Tendring',
 'E07000074': 'Maldon',
 'E07000069': 'Castle Point',
 'E07000075': 'Rochford',
 'E07000098': 'Hertsmere',
 'E07000068': 'Brentwood',
 'E07000242': 'East Hertfordshire',
 'E07000096': 'Dacorum',
 'E07000099': 'North Hertfordshire',
 'E07000071': 'Colchester',
 'E07000012': 'South Cambridgeshire',
 'E10000012': 'Essex',
 'E07000066': 'Basildon',
 'E07000073': 'Harlow',
 'E07000011': 'Huntingdonshire',
 'E10000003': 'Cambridgeshire',
 'E07000070': 'Chelmsford',
 'E07000072': 'Epping Forest',
 'E07000009': 'East Cambridgeshire',
 'E06000033': 'Southend-on-Sea',
 'E07000008': 'Cambridge',
 'E06000056': 'Central Bedfordshire',
 'E06000031': 'Peterborough',
 'E06000055': 'Bedford',
 'E06000034': 'Thurrock',
 'E07000010': 'Fenland',
 'E08000027': 'Dudley',
 'E06000032': 'Luton',
 'E08000030': 'Walsall',
 'E07000239': 'Wyre Forest',
 'E08000026': 'Coventry',
 'E08000028': 'Sandwell',
 'E07000236': 'Redditch',
 'E08000031': 'Wolverhampton',
 'E07000238': 'Wychavon',
 'E08000029': 'Solihull',
 'E12000006': 'East of England',
 'E07000234': 'Bromsgrove',
 'E07000218': 'North Warwickshire',
 'E10000034': 'Worcestershire',
 'E07000237': 'Worcester',
 'E07000235': 'Malvern Hills',
 'E07000219': 'Nuneaton and Bedworth',
 'E07000193': 'East Staffordshire',
 'E10000031': 'Warwickshire',
 'E11000005': 'West Midlands',
 'E12000005': 'West Midlands',
 'E07000221': 'Stratford-on-Avon',
 'E07000222': 'Warwick',
 'E07000220': 'Rugby',
 'E07000192': 'Cannock Chase',
 'E08000025': 'Birmingham',
 'E10000028': 'Staffordshire',
 'E06000051': 'Shropshire',
 'E06000019': 'Herefordshire, County of',
 'E07000195': 'Newcastle-under-Lyme',
 'E06000020': 'Telford and Wrekin',
 'E07000198': 'Staffordshire Moorlands',
 'E07000197': 'Stafford',
 'E07000196': 'South Staffordshire',
 'E06000021': 'Stoke-on-Trent',
 'E07000199': 'Tamworth',
 'E07000194': 'Lichfield',
 'E07000174': 'Mansfield',
 'E07000175': 'Newark and Sherwood',
 'E07000142': 'West Lindsey',
 'E07000173': 'Gedling',
 'E07000156': 'Wellingborough',
 'E10000021': 'Northamptonshire',
 'E07000151': 'Daventry',
 'E07000155': 'South Northamptonshire',
 'E07000150': 'Corby',
 'E07000172': 'Broxtowe',
 'E07000036': 'Erewash',
 'E07000138': 'Lincoln',
 'E07000154': 'Northampton',
 'E07000171': 'Bassetlaw',
 'E07000152': 'East Northamptonshire',
 'E07000137': 'East Lindsey',
 'E07000153': 'Kettering',
 'E07000170': 'Ashfield',
 'E07000140': 'South Holland',
 'E07000176': 'Rushcliffe',
 'E10000024': 'Nottinghamshire',
 'E07000139': 'North Kesteven',
 'E07000141': 'South Kesteven',
 'E07000134': 'North West Leicestershire',
 'E07000131': 'Harborough',
 'E07000135': 'Oadby and Wigston',
 'E07000132': 'Hinckley and Bosworth',
 'E10000019': 'Lincolnshire',
 'E06000018': 'Nottingham',
 'E07000130': 'Charnwood',
 'E07000136': 'Boston',
 'E07000129': 'Blaby',
 'E07000039': 'South Derbyshire',
 'E07000133': 'Melton',
 'E10000018': 'Leicestershire',
 'E08000035': 'Leeds',
 'E07000038': 'North East Derbyshire',
 'E06000017': 'Rutland',
 'E07000037': 'High Peak',
 'E12000004': 'East Midlands',
 'E06000015': 'Derby',
 'E10000007': 'Derbyshire',
 'E08000033': 'Calderdale',
 'E08000032': 'Bradford',
 'E08000036': 'Wakefield',
 'E07000033': 'Bolsover',
 'E06000016': 'Leicester',
 'E07000032': 'Amber Valley',
 'E07000035': 'Derbyshire Dales',
 'E08000034': 'Kirklees',
 'E11000006': 'West Yorkshire',
 'E11000003': 'South Yorkshire',
 'E07000034': 'Chesterfield',
 'E07000165': 'Harrogate',
 'E08000019': 'Sheffield',
 'E08000016': 'Barnsley',
 'E08000017': 'Doncaster',
 'E10000023': 'North Yorkshire',
 'E07000168': 'Scarborough',
 'E07000166': 'Richmondshire',
 'E08000018': 'Rotherham',
 'E06000014': 'York',
 'E07000164': 'Hambleton',
 'E07000169': 'Selby',
 'E07000167': 'Ryedale',
 'E07000163': 'Craven',
 'E06000010': 'Kingston upon Hull, City of',
 'E12000003': 'Yorkshire and The Humber',
 'E06000011': 'East Riding of Yorkshire',
 'E06000013': 'North Lincolnshire',
 'E06000012': 'North East Lincolnshire',
 'E08000013': 'St. Helens',
 'E08000015': 'Wirral',
 'E07000123': 'Preston',
 'E08000014': 'Sefton',
 'E07000120': 'Hyndburn',
 'E08000012': 'Liverpool',
 'E07000122': 'Pendle',
 'E07000127': 'West Lancashire',
 'E11000002': 'Merseyside',
 'E08000011': 'Knowsley',
 'E06000009': 'Blackpool',
 'E10000017': 'Lancashire',
 'K02000001': 'United Kingdom',
 'E06000008': 'Blackburn with Darwen',
 'K03000001': 'Great Britain',
 'E06000007': 'Warrington',
 'E07000026': 'Allerdale',
 'E06000002': 'Middlesbrough',
 'E92000001': 'England',
 'E06000003': 'Redcar and Cleveland',
 'E08000001': 'Bolton',
 'E06000005': 'Darlington',
 'E06000001': 'Hartlepool',
 'E08000023': 'South Tyneside',
 'E06000057': 'Northumberland',
 'E07000027': 'Barrow-in-Furness',
 'E08000005': 'Rochdale',
 'E07000029': 'Copeland',
 'E12000001': 'North East',
 'E07000028': 'Carlisle',
 'E08000002': 'Bury',
 'E10000006': 'Cumbria',
 'K04000001': 'England and Wales',
 'E06000004': 'Stockton-on-Tees',
 'E11000007': 'Tyne and Wear',
 'E08000003': 'Manchester',
 'E08000022': 'North Tyneside',
 'E08000024': 'Sunderland',
 'E08000004': 'Oldham',
 'E07000031': 'South Lakeland',
 'E08000009': 'Trafford',
 'E06000047': 'County Durham',
 'E11000001': 'Greater Manchester',
 'E08000007': 'Stockport',
 'E08000037': 'Gateshead',
 'E06000049': 'Cheshire East',
 'E07000030': 'Eden',
 'E12000002': 'North West',
 'E08000008': 'Tameside',
 'E08000021': 'Newcastle upon Tyne',
 'E07000118': 'Chorley',
 'E07000119': 'Fylde',
 'E07000117': 'Burnley',
 'E08000006': 'Salford',
 'E08000010': 'Wigan',
 'E06000006': 'Halton',
 'E07000121': 'Lancaster',
 'E06000050': 'Cheshire West and Chester',
 'E07000124': 'Ribble Valley',
 'E07000125': 'Rossendale',
 'E07000126': 'South Ribble',
 'E07000128': 'Wyre'}

In [21]:

def lookupGeo(cell):
    return geoLookup[cell]

def lookupSex(cell):
    
    sexLookup = {
        2:"Female",
        1:"Male",
        0:"All"
    }
    return sexLookup[cell]

dataFrameList = []

for i in range(3, len(source.columns.values)):
    
    time = source.columns.values[i]
    
    df = pd.DataFrame()
    
    df["V4_0"] = source[time]
    
    df["mid-year-time"] = time
    df["time"] = time
    
    df["geography_codelist"] = source["LAD_code"]
    df["geography"] = source["LAD_code"].apply(lookupGeo)
    
    df["age_codelist"] = source["age"]
    df["age"] = source["age"]
    
    df["mid-year-pop-sex"] = source["Sex"]
    df["sex"] = source["Sex"].apply(lookupSex)
    
    dataFrameList.append(df)
    
finalDf = pd.concat(dataFrameList)

finalDf.to_csv("temp.csv", index=False)

In [22]:
finalDf

,V4_0,mid-year-time,time,geography_codelist,geography,age_codelist,age,mid-year-pop-sex,sex
0,1016,mid_2017,mid_2017,E06000001,Hartlepool,0,0,0,All
1,1096,mid_2017,mid_2017,E06000001,Hartlepool,1,1,0,All
2,1060,mid_2017,mid_2017,E06000001,Hartlepool,2,2,0,All
3,1108,mid_2017,mid_2017,E06000001,Hartlepool,3,3,0,All
4,1123,mid_2017,mid_2017,E06000001,Hartlepool,4,4,0,All
5,1185,mid_2017,mid_2017,E06000001,Hartlepool,5,5,0,All
6,1214,mid_2017,mid_2017,E06000001,Hartlepool,6,6,0,All
7,1193,mid_2017,mid_2017,E06000001,Hartlepool,7,7,0,All
8,1165,mid_2017,mid_2017,E06000001,Hartlepool,8,8,0,All
9,1179,mid_2017,mid_2017,E06000001,Hartlepool,9,9,0,All
10,1171,mid_2017,mid_2017,E06000001,Hartlepool,10,10,0,All
11,1148,mid_2017,mid_2017,E06000001,Hartlepool,11,11,0,All
12,1074,mid_2017,mid_2017,E06000001,Hartlepool,12,12,0,All
13,1032,mid_2017,mid_2017,E06000001,Hartlepool,13,13,0,All
14,1034,mid_2017,mid_2017,E06000001,Hartlepool,14,14,0,All
15,988,mid_2017,mid_2017,E06000001,Hartlepool,15,15,0,All
16,1108,mid_2017,mid_2017,E06000001,Hartlepool,16,16,0,All
17,1156,mid_2017,mid_2017,E06000001,Hartlepool,17,17,0,All
18,1111,mid_2017,mid_2017,E06000001,Hartlepool,18,18,0,All
19,955,mid_2017,mid_2017,E06000001,Hartlepool,19,19,0,All
20,1013,mid_2017,mid_2017,E06000001,Hartlepool,20,20,0,All
21,1034,mid_2017,mid_2017,E06000001,Hartlepool,21,21,0,All
22,1168,mid_2017,mid_2017,E06000001,Hartlepool,22,22,0,All
23,1175,mid_2017,mid_2017,E06000001,Hartlepool,23,23,0,All
24,1112,mid_2017,mid_2017,E06000001,Hartlepool,24,24,0,All
25,1307,mid_2017,mid_2017,E06000001,Hartlepool,25,25,0,All
26,1256,mid_2017,mid_2017,E06000001,Hartlepool,26,26,0,All
27,1132,mid_2017,mid_2017,E06000001,Hartlepool,27,27,0,All
28,1169,mid_2017,mid_2017,E06000001,Hartlepool,28,28,0,All
29,1271,mid_2017,mid_2017,E06000001,Hartlepool,29,29,0,All
...,...,...,...,...,...,...,...,...,...
121410,19644,mid_2012,mid_2012,W92000004,Wales,62,62,2,Female
121411,20221,mid_2012,mid_2012,W92000004,Wales,63,63,2,Female
121412,21525,mid_2012,mid_2012,W92000004,Wales,64,64,2,Female
121413,22822,mid_2012,mid_2012,W92000004,Wales,65,65,2,Female
121414,17822,mid_2012,mid_2012,W92000004,Wales,66,66,2,Female
121415,17655,mid_2012,mid_2012,W92000004,Wales,67,67,2,Female
121416,17555,mid_2012,mid_2012,W92000004,Wales,68,68,2,Female
121417,16678,mid_2012,mid_2012,W92000004,Wales,69,69,2,Female
121418,15492,mid_2012,mid_2012,W92000004,Wales,70,70,2,Female
121419,14307,mid_2012,mid_2012,W92000004,Wales,71,71,2,Female
121420,14022,mid_2012,mid_2012,W92000004,Wales,72,72,2,Female
121421,13836,mid_2012,mid_2012,W92000004,Wales,73,73,2,Female
121422,13671,mid_2012,mid_2012,W92000004,Wales,74,74,2,Female
121423,12872,mid_2012,mid_2012,W92000004,Wales,75,75,2,Female
121424,12536,mid_2012,mid_2012,W92000004,Wales,76,76,2,Female
121425,11993,mid_2012,mid_2012,W92000004,Wales,77,77,2,Female
121426,11390,mid_2012,mid_2012,W92000004,Wales,78,78,2,Female
121427,11082,mid_2012,mid_2012,W92000004,Wales,79,79,2,Female
121428,10450,mid_2012,mid_2012,W92000004,Wales,80,80,2,Female
121429,9959,mid_2012,mid_2012,W92000004,Wales,81,81,2,Female
121430,9490,mid_2012,mid_2012,W92000004,Wales,82,82,2,Female
121431,8700,mid_2012,mid_2012,W92000004,Wales,83,83,2,Female
121432,8043,mid_2012,mid_2012,W92000004,Wales,84,84,2,Female
121433,7589,mid_2012,mid_2012,W92000004,Wales,85,85,2,Female
121434,6969,mid_2012,mid_2012,W92000004,Wales,86,86,2,Female
121435,6423,mid_2012,mid_2012,W92000004,Wales,87,87,2,Female
121436,5630,mid_2012,mid_2012,W92000004,Wales,88,88,2,Female
121437,4992,mid_2012,mid_2012,W92000004,Wales,89,89,2,Female
121438,20242,mid_2012,mid_2012,W92000004,Wales,90,90,2,Female
121439,1564131,mid_2012,mid_2012,W92000004,Wales,Total,Total,2,Female