In [2]:

import pandas as pd

source = pd.read_csv("Mid-year estimates 2012 to 2017 for the UK - backseries from SAS.csv")

source[:4]

,LAD_code,age,Sex,mid_2017,mid_2016,mid_2015,mid_2014,mid_2013,mid_2012
0,E06000001,0,0,1016,1087,1014,1065,1085,1152
1,E06000001,1,0,1096,1034,1068,1074,1158,1174
2,E06000001,2,0,1060,1085,1092,1154,1195,1161
3,E06000001,3,0,1108,1110,1149,1206,1170,1143

In [9]:

dataFrameList = []

for i in range(3, len(source.columns.values)):
    
    time = source.columns.values[i]
    
    df = pd.DataFrame()
    
    df["V4_0"] = source[time]
    
    df["mid-year-time"] = time
    df["time"] = time
    
    df["geography_codelist"] = source["LAD_code"]
    df["geography"] = ""
    
    df["age_codelist"] = source["age"]
    df["age"] = source["age"]
    
    df["sex_codelist"] = source["Sex"]
    df["sex"] = source["Sex"]
    
    dataFrameList.append(df)
    
finalDf = pd.concat(dataFrameList)

finalDf.to_csv("temp.csv", index=False)